* {box-sizing: border-box;
margin :0;
padding: 0;
}
div {display: block;
    margin-bottom: 20px;
}


.layout {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: indianred;
   
}
.header {text-align: center;
background-color: darkgray;
padding: 20px 20px 20px 20px;
margin-bottom: 20px;
margin-block-start: 3em;
margin-block-end: 3em;
margin-inline-start: 0;
margin-inline-end: 0;}


.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: darkgray;
}
.nav2 {
    display: flex;
    flex-direction: row;
    align-content: space-around ;
    flex-wrap: nowrap;
    list-style: none;
}


.img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 20px 20px 20px;

}

.nav3 {
    padding: 0 10px 0 10px ;
    font-size: larger;
}

.image {
    height: 700px;
    width: 700px;
}

ul {display: block;
margin-block-start: 3em;
margin-block-end: 3em;
margin-inline-start: 0;
margin-inline-end: 0;
padding : 10px
}

.nav1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-style: oblique ;
    font-stretch: wider;
    font-size: x-large;
}

.a {display: flex;
    justify-content: center;
color: darkred;
font-size: x-large;
background-color: lightblue;}

.anh {display: block;
width: 150px;
height: 150px;}

.cot1 {
    display: flex;
    width: 300px;
    height: 1200px;
    flex-direction: column;
    flex-wrap: wrap;
    
   
    

}
.cot1a {
    width: 300px;
    height: 300px;
}

.cot2 {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    width: 300px;
    margin-left: 400px;
}

.cot {display: flex;
align-content: space-between;
flex-direction: column;
flex-wrap: wrap;
}

.footer {
    text-align: center;
    background-color: khaki;
}